.chat-box {
  margin-top: 40px;
}

#chat {
  min-height: 120px;
  margin-bottom: 10px;
  color: #00ffd5;
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #00ffd5;
  cursor: pointer;
}
